<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Error 404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Error 404</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="error-container">
    <h1>404</h1>
    <p>Página no encontrada</p>
    <ion-button expand="full" color="primary" (click)="goToLogin()">
      Ir al Login
    </ion-button>
  </div>
</ion-content>
